{
  "presets": [
    "es2015",
    ["env", {
      "exclude": ["transform-regenerator"],
      "useBuiltIns": "usage",
      "debug": true,
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"]
      },
    }]
  ],
  "plugins": [
    ["fast-async", {
      "spec":true
    }]
  ]
}
